@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

@font-face {
  font-family : 'Fastup';
  src: url("../fonts/Fastup-Regular.ttf");
}

* {
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Fastup', serif;
}

p {
  font-family: 'Vollkorn', serif;
  text-align: inherit;
}

/*--------------------------------------------
                 Ui card
 --------------------------------------------*/

.ui.card {
  margin: 0 ;

  .image {
    position: relative;
  }

  .ui.dimmer{
    background-color: rgba(0,0,0,0.3) !important;
  }

  .cardImageContainer {
    position: relative;

    .cardBadgeContainer {
      display: flex;
      position: absolute;
      top: 5% ;
      left: 5%;
      gap: 1rem;

      .cardBadgeText,.cardBadgeIcon{
        padding: 0.25rem;
      }

      .cardBadgeText{
        outline: 1px solid grey;
        border-radius: 5px;
      }

      .cardBadgeIcon{
        outline: 1px solid blueviolet;
        color: blueviolet;
        border-radius: 5px;
      }
    }

    &:hover {
      .image {
        scale: 1.1;
      }
    }

    .cardBadgeContainer  {
      .cardBadgeIcon {
        outline: 1px solid cadetblue;
        color: cadetblue;
        border-radius: 5px;
      }
    }
  }

  .content.extra {
    margin: 15px 0 10px 0;

    .btn-card {
      padding: 10px;
      background-color: black;
      color: white;
      border-radius: 15px;
      &:hover {
        box-shadow: 0 0 1px 1px black, 0 0 2.5px 3px white,0 0 5px 5px black;
      }
    }
  }

  &:hover {
    box-shadow: 3px 3px 10px 3px black;
  }
}
/*--------------------------------------------
                 Carousel
 --------------------------------------------*/

.carousel {
  display: flex;
  gap: 1.75rem;
  margin: 2rem 0 5rem 5rem;

  .icon.inverted.circular {
    align-self: center;
    background-color: #018bb5 !important;

    &:hover {
      scale: 1.2;
    }
  }
}

@media (max-width: 1200px) {
  .carousel {
    margin-left: 0;
    margin-top: 1rem;
    padding: 0.5rem;

    .ui.card {
      display: none;
      width: 100% !important;

      &:first-child{
        display: block;
      }
    }

    .icon.inverted.circular {
      display: none;
    }
  }
}
/*--------------------------------------------
               Home  Contact
 --------------------------------------------*/

.contactsContainer {
  display: flex;
  margin: 0 5rem;
  gap: 15rem;
  background-color: #d9d9d9;
  justify-content: center;
  border-radius: 1rem;

  .contactsCard{
    display: grid;
    gap: 3rem;
    padding: 2rem;
    justify-items: center;

    div{
      font-size: 1.75rem;
      color: black;
      line-height: 2rem;
    }

    &:hover {
      div{
        color: #018bb5 !important;
      }

      .icon {
        background-color: #018bb5 !important;
      }
    }
  }
}

@media (max-width: 1200px) {
  .contactsContainer {
    display: grid;
    margin: 0;
    gap: 1rem;
    background-color: #d9d9d9;
    justify-content: center;
    border-radius: 1rem;

    .contactsCard{
      padding: 2rem 0;
    }
  }
}

/*--------------------------------------------
                 Catalog
 --------------------------------------------*/

.shop {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;

  .filter {
    width: 25%;
  }

  .catalogue {
    width: 70%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 1rem;
  }
}

@media (max-width: 1300px) {
  .shop {
    .filter {
      width: 20%;
    }

    .catalogue {
      width: 75%;
      grid-template-columns: auto auto auto;
    }
  }
}

@media (max-width: 1200px) {
  .shop {
    gap: 2rem;

    .filter {
      width: 30%;
    }

    .catalogue {
      width: 65%;
      grid-template-columns: auto auto;
    }
  }
}

@media (max-width: 900px) {
  .shop {
    display: grid;

    .filter {
      width: unset;
    }

    .catalogue {
      width: unset;
      grid-template-columns: auto;
    }
  }
}
/*--------------------------------------------
                 Footer
 --------------------------------------------*/

.FooterBackground {
    margin-top: 20px;
    background-color: #d9d9d9;
    padding: 1rem 4rem;
}

// Base Divider class
.divider {
    display: flex;

    &:before,
    &:after {
        content: "";
        flex: 1;
    }
}

// Base line
.line {
    align-items: center;
    margin: 1em -1em;

    &:before,
    &:after {
        height: 1px;
        margin: 0 1em;
    }
}

.one-line {
    &:before,
    &:after {
        background: black;
    }
}

.containerFooter {
    display: flex;
    justify-content: space-around;
}

.borderDivision {
    border-right: 1px black solid;
}

//   End Style Footer

// Design contact

.formContainer {
  display : flex;
  justify-content: center;
}
.formContact {
  background : #d9d9d9;
  width: 80%;
  padding: 1rem 1rem;
  }
