.FooterBackground {
    margin-top: 20px;
    background-color: #d9d9d9;
    padding-left: 4rem;
    padding-right: 4rem;
}
  
  // Base Divider class
  .divider {
    display: flex;
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
  }
  
  // Base line
  .line {
    align-items: center;
    margin: 1em -1em;
    
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
  }
   .one-line {
      &:before,
      &:after {
        background: black;
      }
    }
  