.App {
  text-align: center;
}

.carousel {
  display: flex;
  gap: 1.5rem;
  margin: 0 10rem 5rem;
}

.carousel .ui.card {
  text-align: center;
  margin: 0 !important;
}

.carousel .ui.card .image{
  position: relative;
}

.carousel .icon.inverted.circular {
  align-self: center;
  background-color: #018bb5 !important;
}

.contactsContainer {
  display: flex;
  margin: 0 15rem;
  gap: 15rem;
  background-color: #d9d9d9;
  justify-content: center;
  border-radius: 1rem;
}

.contactsContainer .contactsCard{
 display: grid;
  gap: 4rem;
  padding: 5rem 2rem;
  justify-items: center;
}

.contactsContainer .contactsCard a{
  font-size: 1.75rem;
  color: black;
  line-height: 2rem;
}

@media (max-width: 1200px) {
  .carousel {
    margin-left: 0;
    margin-top: 1rem;
    padding: 1.5rem;
    background-color: grey;
  }

  .carousel .ui.card:last-child {
    display: none;
  }
}
