.App {
  text-align: center;
}

.carousel {
  display: flex;
  gap: 1rem;
  margin: 0 5rem 5rem;
}

.carousel .ui.card {
  text-align: center;
  margin: 0 ;
}

.carousel .ui.card .image{
  position: relative;
}

.carousel .ui.card .ui.dimmer{
  background-color: rgba(0,0,0,0.3) !important;
}

.carousel .icon.inverted.circular {
  align-self: center;
  background-color: #018bb5 !important;
}

.carousel .icon.inverted.circular:hover {
  scale: 1.2;
}

.cardImageContainer {
  position: relative;
}
.cardImageContainer .cardBadgeContainer {
   display: flex;
  position: absolute;
  top: 5% ;
  left: 5%;
  gap: 1rem;
}
.cardImageContainer .cardBadgeContainer div{
  padding: 0.25rem;
}
.cardImageContainer .cardBadgeContainer .cardBadgeIcon{
  outline: 1px solid blueviolet;
  color: blueviolet;
  border-radius: 5px;
}
.cardImageContainer .cardBadgeContainer .cardBadgeText{
  outline: 1px solid grey;
  border-radius: 5px;
}

.card:hover .cardBadgeContainer .cardBadgeIcon{
  outline: 1px solid cadetblue;
  color: cadetblue;
  border-radius: 5px;
}

.card:hover .image {
  scale: 1.1;
}

.contactsContainer {
  display: flex;
  margin: 0 10rem;
  gap: 15rem;
  background-color: #d9d9d9;
  justify-content: center;
  border-radius: 1rem;
}

.contactsContainer .contactsCard{
 display: grid;
  gap: 3rem;
  padding: 2rem;
  justify-items: center;
}

.contactsContainer .contactsCard div{
  font-size: 1.75rem;
  color: black;
  line-height: 2rem;
}

.contactsContainer .contactsCard:hover div{
  color: #018bb5 !important;
}

.contactsContainer .contactsCard:hover .icon {
  background-color: #018bb5 !important;
}

@media (max-width: 1200px) {
  .carousel {
    margin-left: 0;
    margin-top: 1rem;
    padding: 1.5rem;
    flex-shrink: 1;
  }

  .carousel .ui.card:first-child{
    display: none;
  }

  .contactsContainer {
    margin: 0;
    gap: 1rem;
    background-color: #d9d9d9;
    justify-content: center;
    border-radius: 1rem;
  }
}
